<div>
  <h1>Groups</h1>
</div>

<div class="row col-md-12 m-3 mt-5">
  <div class="row col-md-3 ">
    <table class="table text-center ">
      <thead class="table-dark">
        <tr>
          <th colspan="3">My Groups</th>
        </tr>
      </thead>

      <%= render @groups %>

    </table>
  </div>
</div>


<div class="col-md-8">
  <table class="table text-center ">
    <thead class="table-dark">
      <tr>
        <th colspan="3"><%= @selected_group.name %></th>
      </tr>
    </thead>
  </table>
</div>


<%= form_tag group_search_user_path, remote: true, method: :get do %>
        
      <div class="form-group d-flex justify-content-between">
        <div class="col-3 align-self-center m-auto">
          <%= label :name, "Add Friend to Group", class: "col-form-label fw-bold" %>
        </div>
        <div class="col-sm-6 m-2 align-self-center m-auto">
          <%= email_field_tag :email, params[:email], placeholder: "Name or email", autofocus: true,
                                                    class: "form-control" %>
        </div>
        <div class="col-2 align-self-center m-auto d-none">
          <%= button_tag type: :submit, class: "btn btn-success btn-lg", id: "btn-img" do %>
            <%= 'Search' %>
          <% end %>
        </div>
      </div>
    
<% end %>


  <div id="member-results">
    <% @members.each do |member| %>
      <p><%= member.full_name %></p>
      <%= link_to "Remove", group_destroy_user_path(user_id: member.id), :method => "delete", data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>
        





<%= javascript_tag do %>
  document.getElementById('email').addEventListener('keyup', () => {
  document.getElementById('btn-img').click();
  });
<% end %>
