<div>
  <h1>Groups</h1>
</div>

<div class="row col-md-12 m-3 mt-5">
  <div class="row col-md-3 ">
    <table class="table text-center ">
      <thead class="table-dark">
        <tr>
          <th colspan="3">My Groups</th>
        </tr>
      </thead>

      <%= render @groups %>

    </table>
  </div>
</div>

<div class="col-md-8">
  <table class="table text-center ">
    <thead class="table-dark">
      <tr>
        <th colspan="3"><%= @selected_group.name %></th>
      </tr>
    </thead>
  </table>
</div>

<%= form_tag group_search_user_path, remote: true, method: :get do %>

  <div class="form-group d-flex justify-content-between">
    <div class="col-3 align-self-center m-auto">
      <%= label :name, "Add Friend to Group", class: "col-form-label fw-bold" %>
    </div>
    <div class="col-sm-6 m-2 align-self-center m-auto">
      <%= text_field_tag :user, params[:user], placeholder: "Name or email", autofocus: true,
                                               class: "form-control" %>
    </div>
    <div class="col-2 align-self-center m-auto d-none" id>
      <input type="submit" value="Search" class="btn btn-success btn-lg" id="btn-img">
    </div>
  </div>

<% end %>

<div id="member-results">
  <% @members.each do |member| %>
    <p><%= member.full_name %></p>
    <%= link_to "Remove", group_destroy_user_path(user_id: member.id), :method => "delete", data: { confirm: "Are you sure?" } %>
  <% end %>
</div>

<%= javascript_pack_tag "groups/add_user" %>
