<h1>New Order</h1>

<%= form_with model: @Order do |form| %>
  <div>
    <%= form.label :From %><br>
    <%= form.text_field :resturant_name %>
  </div>

  <div>
    <%= form.label :type %><br>
    <%= form.text_field :mealtype %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
