<h1>Order Details</h1>
<div class="row col-md-12 m-3 mt-5">
    <div class="row col-md-8 ">
        <table id="items_table" class="table text-center ">
            <thead class="table-dark">
                <tr>
                    <th>Person</th>
                    <th>Item</th>
                    <th>Amount</th>
                    <th>Price</th>
                    <th>Comment</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="items_table_body">
            <%  @Items.each do |item|   %>
                <tr id = "item_<%= item.id %>">
                    <td><%= item.user.full_name %></td>
                    <td><%= item.item %></td>
                    <td><%= item.amount %></td>
                    <td><%= item.price %></td>
                    <td><%= item.comment %></td>
                    <%  if item.user.id == current_user.id and @order.status == "Active" %>
                    <td><%= link_to 'Delete Item', [item.order, item], remote: true,
                    method: :delete,
                    data: { confirm: "Are you sure?" } %></td>
                    <% end %>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
    <div class="col-md-3 m-5 mt-5">
    <%= @order.invited_members.where(joind: false).count %> friends invited but not joined <%= link_to 'Click to View', order_invited_path(@order) %><br>
    <%= @order.invited_members.where(joind: true).count %> fsriends joind <%= link_to 'Click to View', order_joined_path(@order) %>
    </div>

</div>

<div class="row col-md-12 m-3 mt-5">
<%  if @order.invited_members.where(joind: true).map(&:user_id).include? current_user.id or @order.user.id == current_user.id and @order.status == "Active" %>
<h1>Add Item</h1>  
<%= render "form_item" %>
<% end %>
</div>