<style>
  .card-custom {
    background-color: #FF5A01;
    color: white;
  }
  .xy{color:white}
</style>

<div class="row">
  <div class="col-sm-6 mb-3 mt-5">
    <div class="card bg-dark">
      <h3>
        <div class="card-header card-custom">Latest Orders</div>
      </h3>
      <div class="card-body">
        <% @last_orders.each do |order| %>
          <h4 class="card-text xy"><%= order.mealtype %> on <%= order.created_at.to_date %> <%= link_to "view", order %> </h4><br>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-sm-6 mb-3 mt-5">
    <div class="card bg-dark">
      <h3>
        <div class="card-header card-custom">Friends Activity</div>
      </h3>
      <div class="card-body">
      <% @last_orders.each do |order| %>
        <h4 class="card-text xy"><%= order.user.full_name %> has Created an <%= link_to "order", order %> from <%= order.resturant_name %></h4>
        <br>
      <% end %>
      </div>
    </div>
  </div>
</div>
