<style>
  .navbar-custom {
    background-color: #FF5A01;
  }
</style>

<% if user_signed_in? %>

  <nav class="navbar navbar-custom navbar-dark navbar-expand-sm" style="max-width: 100%">
    <div class="container-fluid">
      <a class="navbar-brand ml-5" href=<%= authenticated_root_path %>><b>Yalla</b>
        <img src="https://img.icons8.com/cute-clipart/2x/kawaii-pizza.png" width="55" height="55" alt="logo">
        <b>Notlob</b>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"></span>
      </button>

      <% # Dropdown %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ml-5 mr-5">
          <li class="nav-item">
             <b><%= link_to "Orders", orders_path, class: "nav-link" %></b>
          </li>
          <li class="nav-item">
            <b><a class="nav-link" href=<%= authenticated_root_path %>>Menu</a></b>
          </li>
          <li class="nav-item">
            <b><%= link_to "Groups", groups_path, class: "nav-link" %></b>
          </li>
        </ul>

        <!-- <form class="form-inline ml-0 ">
          <input class="form-control mr-sm-2" type="search" placeholder="Search for orders..." aria-label="Search">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form> -->

        <%# <div class="container"></div> %>

    <%################################### Notifications #######################################%>

    <% new_notifications = current_user.receiver_notifications.where(viewed: false) %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown mx-5">
            <a class="nav-link" href="#" id="billDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              <% if new_notifications.count > 0 %>
                <h3 id="bell" class="bi bi-bell-fill" aria-hidden="true""></h3>
              <% else %>
                <h3 id="bell" class="bi bi-bell" aria-hidden="true"></h3>
            <% end %> 
            </a>
            <div class="dropdown-menu" aria-labelledby="billDropdown">
              
                <div class="notifications-container m-3">
                  <% new_notifications.each do |notification| %>
                    <div class="card">
                      <div class="card-body text-center">
                        <% if notification.notification_type == "invitation" %>
                        <a class="dropdown-item font-weight-bold " href="/notifications" data-seen="false" data-id="<%= notification.id %>"> <%= notification.sender.full_name %> Has Invited You to His Order<br/><br/> </a>

                          <%= notification.sender.full_name %> Has Invited You to His Order<br/><br/>
                          <%= link_to "Join", user_accepte_to_join_order_path(notification_id: notification.id, user: notification.receiver, order: notification.order), class: "btn btn-sm btn-success", method: :get %>
                          <%= link_to "Cancel", user_refuse_to_join_order_path(notification_id: notification.id, user: notification.receiver, order: notification.order), class: "btn btn-sm btn-danger", method: :get %>
                        <% else %>
                          <a class="dropdown-item font-weight-bold " href="/orders/<%= notification.order.id %>" data-seen="false" data-id="<%= notification.id %>"> <%= notification.sender.full_name %> Joined Your <%= notification.order.mealtype %> </a>
                        <% end %>
                      </div>  
                    </div>  
                    <hr/>
                  <% end %>
                </div>
             
              <div class="dropdown-divider"></div>
              <% if new_notifications.count == 0 %>
                <p id="no-new-notification" class="text-center"> No New Notifications </p>
                <div class="dropdown-divider"></div>
              <% end %>
              <a class="dropdown-item text-center" style="color: #FF5A01" href="/notifications">View All Notifications</a>
              
            </div>
          </li>
        </ul>
        <% # End Dropdown %>


      <%################################### Picture and Name #######################################%>

        <span class="nav-item " style="color: #ffff;">Welcome <%= current_user.full_name %> !</span>
        <ul class="navbar-nav ">
          <li class="nav-item dropdown mr-5">
            <a class="nav-link dropdown-toggle mr-5" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              <img src="<%= current_user.get_image %>" width="50" height="50" class="rounded-circle">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href=<%= authenticated_root_path %>>Dashboard</a>
              <a class="dropdown-item" href=<%= authenticated_root_path %>>Profile</a>
              <%= link_to "Friends", friends_path, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item", style: "color: red;" %>
            </div>
          </li>
        </ul>
      </div>
    </nav>
   
  <% end %>
