<style>
  .navbar-custom {
    background-color: #FF5A01;
  }
</style>

<% if user_signed_in? %>

  <nav class="navbar navbar-custom navbar-dark navbar-expand-sm" style="max-width: 100%">
    <div class="container-fluid">
      <a class="navbar-brand ml-5" href=<%= authenticated_root_path %>><b>Yalla</b>
        <img src="https://img.icons8.com/cute-clipart/2x/kawaii-pizza.png" width="55" height="55" alt="logo">
        <b>Notlob</b>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"></span>
      </button>

      <% # Dropdown %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ml-5 mr-auto">
          <li class="nav-item">
            <b><a class="nav-link" href=<%= authenticated_root_path %>>Orders</a></b>
          </li>
          <li class="nav-item">
            <b><a class="nav-link" href=<%= authenticated_root_path %>>Menu</a></b>
          </li>
          <li class="nav-item">
            <b><%= link_to "Groups", groups_path, class: "nav-link" %></b>
          </li>
        </ul>

        <form class="form-inline ml-0 ">
          <input class="form-control mr-sm-2" type="search" placeholder="Search for orders..." aria-label="Search">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>

        <span class="nav-item ml-auto" style="color: #ffff;">Welcome <%= current_user.full_name %> !</span>
        <ul class="navbar-nav mr-1">
          <li class="nav-item dropdown mr-4">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              <img src="<%= current_user.get_image %>" width="50" height="50" class="rounded-circle">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href=<%= authenticated_root_path %>>Dashboard</a>
              <a class="dropdown-item" href=<%= authenticated_root_path %>>Profile</a>
              <%= link_to "Friends", friends_path, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item", style: "color: red;" %>
            </div>
          </li>
        </ul>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="bi bi-bell mr-5" viewBox="0 0 16 16">
          <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
        </svg>
        <% # End Dropdown %>

      </div>
    </nav>

  <% end %>
