<!DOCTYPE html>
<html>
  <head>
    <title>YalaNotlob</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="https://img.icons8.com/cute-clipart/2x/kawaii-pizza.png" type="image/png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div class="container">
      <%= render "layouts/alerts" %>
      <%= yield %>
    </div>
  </body>
</html>
